#titlegreeting {
text-align: center;
color: grey;
}

#picturethis {
  max-width: 100%;
  height: auto;
  border-radius: 15em;
  opacity: .7;
}

#bio {
  text-align: center;
  margin-top: 1em;
}

.mypic {
  background-color: grey;
}