body {
  margin-bottom: 2em;
}
/*Header*/
#titlegreeting {
text-align: left;
color: grey;
margin-left: .2em;
}
/*Picture section*/
#titlegreetingsub {
  color: grey;
  opacity: .7;
  text-align: center;
  font-size: 48pt;
}
/*skill table*/
#skilllist {
  text-align: center;
  opacity: .5;
}
/*Picture area*/
#picturethis {
  max-width: 100%;
  height: auto;
  border-radius: 15em;
  opacity: .9;
  margin-bottom: 2em;
}
.mypic {
  background-color: #efeee3;
}
/*bio text field*/
#bio {
  text-align: center;
  margin-top: 2em;
}
#imginfo {
  align-self: center;
  margin-top: 2em;
}
#imginfo2 {
  margin-top: 2em;
}